<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.4.0" targetFramework="win81" />
  <package id="sqlite-net" version="1.0.7" targetFramework="win81" />
  <package id="Sqlite-Winrt" version="3.8.1.1" targetFramework="win81" />
  <package id="SyncClient.SQLite" version="3.8.0.3" targetFramework="win81" />
</packages>